<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product</title>
  </head>
  <body>
    <h1>
      {{ product.name }}
    </h1>
    <ul>
      <li>
        <b>Категории</b>: {{ product.category }}
      </li>
      <li>
        <b>Цена</b>: {{ product.price }}
      </li>
      <li>
        <b>Доступность</b>:
        {% if product.availability %}
          Доступно
        {% else %}
          Недоступно
        {% endif %}
      </li>
      <li>
        <b>Дата создания</b>: {{ product.date }}
      </li>
      <li>
        <b>Описание</b>: {{ product.description }}
      </li>
    </ul>
  </body>
</html>
